* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #45a049;
}

/* ===========================================
   Estilo do Container de Cards
   =========================================== */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Estilo do card */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo da imagem do card */
.card-image {
    width: 100%; /* A largura vai continuar ocupando o 100% do card */
    height: 150px; /* Reduz a altura para 150px, ajustando conforme necessário */
    object-fit: contain; /* Mantém a imagem proporcional, mas sem cortá-la */
    border-radius: 8px; /* Mantém o arredondamento nas bordas */
    margin-bottom: 15px; /* Espaço abaixo da imagem */
}

/* Estilo do título dentro do card */
.card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo do link, tornando o card inteiro clicável */
.card a {
    display: block;
    color: inherit;
    text-decoration: none;
    height: 100%;
}

/* ===========================================
   Estilo do Header com a Logo
   =========================================== */
header {
    background-color: #ffffff; /* Cor de fundo da borda */
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10px 0; /* Ajuste o padding para controlar a altura */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border-bottom: 3px solid #e8e7e7; /* Borda de baixo para header */
}

header .logo {
    max-height: 80px; /* Ajuste o tamanho da logo conforme necessário */
    object-fit: contain;
}

/* ===========================================
   Estilo do link "Início" no Header
   =========================================== */
   .inicio-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #29383d; /* Cor branca para o texto INÍCIO */
}

.inicio-icon {
    width: 30px; /* Ajuste o tamanho do ícone conforme necessário */
    height: auto;
    margin-right: 10px; /* Distância entre o ícone e o texto */
}

.inicio-text {
    font-size: 18px; /* Tamanho do texto INÍCIO */
    font-weight: bold;
}